<!doctype html>
<html lang="zh">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title><%= htmlWebpackPlugin.options.title %></title>
      <script type="text/javascript" src="http://auth.ifos.ifengidc.com:8081/js/jquery.js"></script>
      <script type="text/javascript" src="http://auth.ifos.ifengidc.com:8081/js/Particleground.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
        $('body').particleground({
            dotColor: '#5cbdaa',
            lineColor: '#5cbdaa'
        });
      })
      </script>
  </head>
  <body class="bg-img">
      <div id="react"></div>
  </body>
</html>
